@model IEnumerable<bodhibelly.Models.Recipe>

 @foreach (var recipe in Model)
 {
     <div style="border: 1px solid; margin-bottom: 10px; width: 700px">
         <span style="float: left; margin-right: 10px"><img src="@recipe.picture" width="150" height="100"/></span>
         <span style="font-size: larger; font-weight: bold">@Html.ActionLink(recipe.name, "Details", "Recipes", new { Id = recipe.Id }, null)</span><br/>
         <span class="couldbelong" style="width: 500px; height: 60px;">@recipe.description</span><br/>
         @{ var taglist = String.Join(", ",recipe.Tags.Select(t => t.name).ToArray()); }
         <span class="couldbelong" title="@taglist">@Html.Partial("_SimpleTagList", recipe.Tags)</span>
         <span style="clear: left">&nbsp;</span>
     </div>
 }
</table>
